.customer-users-layout {
  flex: 1;
  background-color: transparent;
  display: flex;
  flex-direction: column;
}

.customer-users-grid {
  margin-top: 10px;
  width: 100%;
  flex-grow: 1;
  height: 0px;
  overflow-y: hidden;
  background-color: transparent;
}
