body {
  margin: 0;
  padding: 0;
  height: 100vh;
}

/* Link Router Style */
.link-router {
  text-decoration: none;
}

/* Link Text Hover Style */
.link-router-typografy:hover {
  color: #2d738f;
}

.link-router:active {
  .menu-icon {
    color: #2d738f;
  }
}

.link-router:hover {
  .menu-icon {
    color: #2d738f;
  }
}

/* Scalable Button Style Hover */
.scale-button:hover {
  transform: scale(1.1);
  transition: 0.2s ease-in-out 0s;
}

/* Scalable Circle Button Style */
.scalable-circle-button:hover {
  cursor: pointer;
  transform: scale(1.1);
  transition: 0.2s ease-in-out 0s;
}

.linear-gradient {
  background: rgb(220, 108, 105);
  background: linear-gradient(
    141deg,
    rgba(220, 108, 105, 1) 75%,
    rgba(190, 63, 84, 1) 75%
  );
}

.contact-box-gradient {
  background: rgb(6, 25, 64);
  background: linear-gradient(
    121deg,
    rgba(6, 25, 64, 1) 65%,
    rgba(6, 25, 64, 0) 73%
  );
}

.login-page {
  background-color: #0f2e72;
  height: 100vh;
  width: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
}

.login-box {
  background-color: white;
  box-shadow: -1px 10px 10px 10px rgba(0, 0, 0, 0.163);
  border-radius: 1%;
  padding-left: 15%;
  padding-right: 15%;
  padding-top: 20%;
  padding-bottom: 20%;
}

.forgot-password-page {
  background-color: #0f2e72;
  height: 100vh;
  width: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
}

.forgot-password-box {
  background-color: white;
  box-shadow: -1px 10px 10px 10px rgba(0, 0, 0, 0.163);
  border-radius: 1%;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 10%;
  padding-bottom: 20%;
}

.bold-text {
  color: blue;
  font-weight: 500;
}

.bold-text:hover {
  cursor: pointer;
}

.completed-step {
  color: blue;
  background-color: white;
  border-radius: 100%;
  padding: 3px;
}

.root-step {
  color: black;
  background-color: grey;
  border-radius: 100%;
  padding: 3px;
}

.active-step {
  color: white;
  background-color: grey;
  border-radius: 100%;
  padding: 3px;
}
