.summary {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.summary-app-bar {
  background-color: #235578;
  padding: 5px;
  padding-left: 20px;
  padding-right: 20px;
  width: 100%;
}

.summary-layout {
  background-color: #f1f4f9;
  display: flex;
}

.summary-right-side {
  flex: 1;
  overflow-x: hidden;
}

.summary-side-bar {
  height: calc(100vh - 50px);
  background-color: white;
  position: sticky;
  display: flex;
  flex-direction: column;
  transition: 0.1s ease-in-out 0s;
  margin-right: 1em;
  border-right: 1px solid rgb(205, 204, 204);
  top: 50px;
}

.side-bar-icon {
  position: absolute;
  right: -14px;
  top: 2em;
  border-radius: 50%;
  background-color: rgb(235, 235, 235);
  cursor: pointer;
  color: black;
  box-shadow: 1px 1px 5px 1px rgba(158, 158, 158, 0.568);
  justify-content: center;
  align-items: center;
  display: flex;
  transition: transform 0.1s ease-in-out 0s;
}

.side-bar-icon:hover {
  background-color: blue;
  color: white;
}

.side-child {
  margin-top: 1em;
  justify-content: center;
  transform-origin: center left;
}

.summary-base-layout {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 5px;
  display: flex;
  flex-direction: row;
  align-items: start;
}

.summary-base-groups {
  top: 60px;
  width: 250px;
  border-radius: 3px;
  height: calc(100vh - 70px);
  background-color: white;
  position: sticky;
}

.region-list {
  flex-direction: column;
  display: flex;
  overflow: hidden;
  transform-origin: center left;
}

@media only screen and (max-width: 900px) {
  .summary-side-bar {
    position: fixed;
    z-index: 300;
  }
  .summary-right-side {
    margin-left: 40px;
  }
}

@media screen and (max-width: 1200px) {
  .summary-base-groups {
    position: inherit;
    max-width: 100%;
    margin-bottom: 10px;
  }
}

.x {
  background-color: red;
  color: red;
}
