.units-layout {
  display: flex;
  flex: 1;
  flex-direction: column;
  overflow-y: hidden;
  background-color: white;
}

.units-grid {
  width: 100%;
  flex-grow: 1;
  height: 0px;
  background-color: transparent;
}

.units-map-page {
  display: flex;
  flex-direction: row;
  overflow-y: hidden;
  height: calc(100vh - 161px);
}

.units-map-list {
  flex: 2;
  overflow: scroll;
}

.units-map {
  flex: 6;
}

.unit-list-item {
  display: flex;
  flex-direction: row;
  padding: 10px;
}

.unit-list-item:hover {
  cursor: pointer;
  background-color: #e6f5ff;
}
