.units-layout {
  display: flex;
  flex: 1;
  flex-direction: column;
  background-color: white;
}

.units-grid {
  margin-top: 10px;
  width: 100%;
  flex-grow: 1;
  height: 0px;
  overflow-y: hidden;
  background-color: transparent;
}
